{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading"><em>Oh, so you wanna know.</em></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi, my name is Arnold. This website is a result of an assignment I was working on from the 100 Days of Code bootcamp by Angela Yu. Now you may ask, "why were
          you in a coding bootcamp?" <em>Valid question</em>. Due to an unfortunate series of events, I had to take a
          semester off, and instead of completing my studies at Seneca College in the winter of 2021, I had to wait until the
          summer of 2021. So I decided to use that time to work on my programming skills. </p>
        <p>I am primarily interested in software development, but I have learned a lot about electronics and hardware
          programming during my time at Seneca, of which I maintain a keen interest in.
          </p>
        <p>This website used to have random content on the front page, but I have replaced them with articles I
          have written on Medium. Future articles will be added here as well. Thanks for the visit, and I hope to you see
        you around.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}