{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading"><em>Oh, so you wanna know.</em></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi. My name is Arnold and I am a Computer Engineering student at Seneca College. This website is a result of
          an assignment I was working on from the 100 Days of Code bootcamp by Angela Yu. Now you may ask, "why were
          your in a coding bootcamp?" <em>Valid question</em>. Due to an unfortunate series of events, I had to take a
          semester off, and so instead of completing my studies at Seneca in the winter of 2021, I had to wait until the
          summer of 2021. So I decided to make use of that time to really work on my programming skills. </p>
        <p>I am primarily interested in software development, but I have learnt a lot about electronics and hardware
          programming during my time at Seneca, which I maintain a keen interest in. For my last semester project, I am
          working on my very first IoT project which I am very excited about. Details on that and other projects can be
          found on my Github, which is linked at the bottom of the page.
          </p>
        <p>I hope you enjoy the random content I have posted on the home page. I don't have any specific plans for this
        website at the moment, but working on it gave me my first major sense of accomplishment as a programmer, and for
          that reason alone, I will keep coming back to it.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}